{% extends '::base.html.twig' %}

{% block content %}

        <h2>Devis : {{ devis.nom }}</h2>

            <div>

                </br>
                Montant : {{ devis.total}} Euro(s)
                </br>
                </br>
                {% if devis.plaques is defined %}

                            {% for laplaque in devis.plaques %}

                                <p> Identifiant de la plaque {{ laplaque.id }} </p>

                            {% endfor %}
                    {% else %}
                           <p> null </p>
                {% endif %}
            </div>

    <a href="{{ path('devis_platform') }}">Retour à la liste des devis</a>
    </br>
    <a href="{{ path('accueil_platform') }}">ACCUEIL</a>



{% endblock %}